.container {
    width: 80%;
    padding-top: 10px;
    margin: auto;
    background-color: gray;
}

.section {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 0px 10px;
    border: black 1px solid;
}

.red {
    background-color: red;
}
